/**
 * 顶部样式
 */
.viewFramework-topbar{
    position: fixed;
    width: 100%;
    height: 50px;
    background: #09C;
    z-index: 101;
}

.viewFramework-topbar .topbar-head {
    background: #008fbf;
    height: 50px;
    position: relative;
    z-index: 3;
}
.viewFramework-topbar .topbar-nav {
    position: relative;
    z-index: 2;
    background: #008fbf;
}
.viewFramework-topbar .topbar-info {
    background: #008fbf;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}
.viewFramework-topbar .topbar-info .topbar-btn {
    padding: 0 10px;
    height: 50px;
    display: block;
    z-index: 2;
    background: #09c;
}
.viewFramework-topbar .topbar-left {
    float: left;
}
.viewFramework-topbar .topbar-right {
    float: right;
}

.viewFramework-topbar .topbar-logo {
    display: block;
    width: 50px;
    background: #0087b4;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    line-height: 50px;
}
.viewFramework-topbar .topbar-btn {
    color: #fff;
    font-size: 14px;
    line-height: 50px;
}
.viewFramework-topbar .border-left{
	margin-left: 1px;
}
.viewFramework-topbar .border-right{
	margin-right: 1px;
}
.viewFramework-topbar .topbar-btn:hover{
	background:#008fbf;
	cursor: pointer;
}
.viewFramework-topbar .topbar-home-link {
    padding: 0 20px;
    margin-right: 1px;
    background: #09c;
}

.viewFramework-topbar .dropdown .dropdown-menu {
    z-index: 1;
    font-size: 12px;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    padding: 0;
}

.viewFramework-topbar .topbar-info .dropdown .dropdown-menu {
    width: 100%;
    min-width: 0px;
    margin-top: -1px;
    border: none;
}
.viewFramework-topbar .topbar-info .dropdown.open .topbar-btn {
    color: #333;
    background: #fff;
    border-bottom: 1px solid #eaedf1;
    position: relative;
}

.viewFramework-topbar .topbar-info .topbar-info-btn a {
    line-height: 40px;
    padding-left: 10px;
}

li.topbar-info-btn {
    height: 40px;
    border-bottom: 1px solid #eaedf1;
}

.viewFramework-topbar .dropdown .anticon-down {
	vertical-align: middle;
    transition: transform 0.2s;
    -o-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
}

.viewFramework-topbar .dropdown.open .anticon-down {
    vertical-align: text-top;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

/**
 * 下拉框样式，来自bootstrap
 */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

/**
 * 主显示区域样式
 */
.viewFramework-body {
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0px;
    background-color: #000;
    z-index: 100;
}

/**
 * 左侧菜单容器样式
 */
.viewFramework-sidebar{
	width: 180px;
    display: block;
    position: fixed;
    top: 50px;
    bottom: 0px;
    z-index: 102;
    overflow-x: hidden;
}

/**
 * 右侧产品区域样式
 */
.viewFramework-product {
    width: auto;
    position: absolute;
    top: 0px;
    left: 180px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    background: #FFF;
}

.viewFramework-product-body {
    position: absolute;
    width: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    overflow-y: auto;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
.console-container {
    padding: 0 15px;
}